<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if(user) { %>
      <h1><%= user.name %></h1>
      <a href="/articles/new">Add article</a>
      <a href="/users/logout">logout</a>

    <% } else { %>
    <a href="/users/login">Login</a>
    <% } %>
    <p>Welcome to <%= title %></p>
  </body>
</html>
